{% extends 'base.html' %}
{% block 'conteudo' %}
<div class="col-12">
    <a  href="{% url 'listajogos' %}">
        <img style="margin-left: 20%" src="/media/media/capas/animecapa.png">
    </a>
    <a  href="{% url 'listafilmes' %}">
        <img style="margin-left: 20%" src="/media/media/capas/capafilmes.png">
    </a>
    <a  href="{% url 'listajogos3e4' %}">
        <img style="margin-left: 20%" src="/media/media/capas/capajogos.png">
    </a>
    <a  href="">
        <img style="margin-left: 20%" src="/media/media/capas/capaseries.png">
    </a>
</div>
Você está logado como: {{user}}
{% endblock %}