body{
    background: #9D96B8;
    width: 100%;
    line-height: initial;!important
}
#inputnome {
    text-align:left;
    width:200px;
    display:block;
    float:left;
    clear:right;
    font-size:18;
    position: relative;
    width: 100%;
}
#controller {
    position: relative;
    width: 100%;
    -webkit--fill-color: #0000FF;
    background: transparent;
    -webkit-filter: drop-shadow(16px 16px 20px red) invert(75%);
}
#controller:hover{
    transform: scale(1.05);
}

#btnnome {
    position: relative;
    width: 100%;
    font-size: 16px;
    color: white;
    background-color: #3b4148;
    cursor: pointer;
}

.grid-item congrats{
    position: relative;
    width: 100%;
    font-size: 16px;
    color: white;
    background-color: #3b4148;
    cursor: pointer;
    pointer-events: none;
}

.grid{
  display: grid;
  row-gap: 0.5%;
  margin-left: 10px;
  margin-top: 10px;
  padding-right: 15px;
  grid-template-columns: 9% 9% 9% 9% 9% 9% 9% 9% 9%;
  grid-template-rows: 4.5% 4.5% 4.5%;
}

.grid body{
    line-height: normal;
}

.grid-item{
  position: static;
  display: block
  padding-left: 15px;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.grid-item img{
    width: 100%;
    height: 50%;
}

.grid-item audio{
    width: 100%;
}
.grid-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.grid-item input{
  width: 100%;
  padding: 0;
  margin-left: -3px
}
.grid-item button{
  width: 100%;
  margin-left: -3px
}