body{
    background: #9D96B8;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards li {
  border: 2px solid #9A7197;
  border-radius:5px;
  background-color: #7C5869;
  color: #fff;
  flex: 1 1 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 8%);
  /*grid-template-columns: repeat(auto-fill, minmax(200px 1fr));*/
  grid-gap: 20px;
  margin-left: 10px;
  margin-top: 3px;
  align-items: center;
  justify-content: center;
}

.imagem{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 140px;
}
.audiotamanho{
    width: 100%;
}