body{
    background: #606468;
}

#foto {
    position: relative;
    left: 0px;
    top: 0px;
    width: 300px;
    position: relative;
    width: 100%;
}#fotoanime {
    position: relative;
    left: 0px;
    top: 0px;
    width: 300px;
    position: relative;
    width: 100%;
}

#inputnome {
    text-align:left;
    width:200px;
    display:block;
    float:left;
    clear:right;
    font-size:18;
    position: relative;
    width: 100%;
}

#controller {
    position: relative;
    width: 100%;
    -webkit--fill-color: #0000FF;
    background: transparent;
    -webkit-filter: drop-shadow(16px 16px 20px red) invert(75%);
}
#controller:hover{
    transform: scale(1.05);

}


.card {
      border-radius: 20px;
      width: 350px;
      height: 300px;
      position: relative;
      box-shadow:6px 6px 15px rgba(51,51,51,0.5);
      overflow:hidden;
      margin: 20px 10% 20px 10%;
}
.teste{
    background-color: transparent;
}

.card:hover{
    transform: scale(1.05);
}

#btnnome {
    position: relative;
    width: 100%;
    font-size: 16px;
    color: white;
    background-color: #3b4148;
    cursor: pointer;
}
#btnnome:hover {
    background-color: #6495ED;
}

#btnnome:active{
    top:0.2em;
}
.bouncy{
animation:bouncy 5s infinite linear;
position:relative;
}
@keyframes bouncy {
0%{top:0em}
40%{top:0em}
43%{top:-0.9em}
46%{top:0em}
48%{top:-0.4em}
50%{top:0em}
100%{top:0em;}
}