{% extends 'base.html' %}
{% load static %}
{% block 'conteudo' %}
<link rel="stylesheet" href="{% static 'css/audio.css' %}">

<div class="grid">
    {% for music in musicas %}
    <div class="grid-item">
      {% for lis in lista %}
                {% if music == lis.respostas_lista %}
                    {% if lis.acertou %}
                    <img src="{{music.imagem.url}}">
                    {% else %}
                    <img src="/media/media/controle.png">
                    {% endif %}
                <audio controls>
                    <source src="{{ music.musica.url }}" type="audio/mp3">
                </audio>
                <form action="{% url 'validar' lis.id %}" method="get" >
                    {% if lis.acertou %}
                        {% if lis.id == focus %}
                            <input type="text" name="escrito" id="" disabled placeholder="{{music}}">
<!--                            <button class="congrats" disabled> Validar </button>-->
                        {% else %}
                            <input type="text" name="escrito" id="inputnome" placeholder="{{music}}" disabled>
<!--                            <button class="congrats" disabled> Validar </button>-->
                        {% endif %}
                    {% else %}
                        <input type="text" name="escrito">
                        <button class="bouncy" type="submit" id="btnnome">Validar</button>
                    {% endif %}
                </form>
            {% endif %}
      {% endfor %}

  </div>
    {% endfor %}
<span class="align-middle" style="font-size: 300%; color: gold; margin: 15%;"> {{pontuacao}} / 25 </span>
    Você está logado como: {{user}}
</div>


<script src="{% static 'js/focus.js' %}"></script>
{% endblock %}
