{% extends 'base.html' %}
{% load static %}

{% block 'conteudo' %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<div class="separarfases">
  <div class="grid-fase">
    <a href="{% url 'animefase' num='1' focus='1' %}">
        <img src="/media/media/capas/animefase1.png">
    </a>
  </div>
    {% if pontuacao >= 15 %}
    <div class="grid-fase">
        <a href="{% url 'animefase' num='2' focus='1' %}">
            <img src="/media/media/capas/animefase2ab.png">
        </a>
  </div>
    {% else %}
    <div class="grid-fase">
        <img src="/media/media/capas/animefase2fe.png">
    </div>
    {% endif %}
    {% if pontuacao >= 30 %}
    <div class="grid-fase">
        <a  href="{% url 'animefase' num='3' focus='1' %}">
            <img src="/media/media/capas/animefase3ab.png">
        </a>
  </div>
    {% else %}
    <div class="grid-fase">
        <img src="/media/media/capas/animefase3fe.png">
    </div>
    {% endif %}
    {% if pontuacao >= 45 %}
    <div class="grid-fase">
        <a  href="{% url 'animefase' num='4' focus='1' %}">
            <img src="/media/media/capas/animefase4ab.png">
        </a>
  </div>
    {% else %}
    <div class="grid-fase">
        <img src="/media/media/capas/animefase4fe.png">
    </div>
    {% endif %}
</div>

{% endblock%}