{% extends 'base.html' %}
{% load static %}

{% block 'conteudo' %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<div class="separarfases">
  <div class="grid-fase">
    <a href="{% url 'animefase' num='13' focus='1' %}">
        <img  src="/media/media/capas/capaseries1.png">
    </a>
  </div>
    {% if pontuacao >= 15 %}
    <div class="grid-fase">
        <a  href="{% url 'animefase' num='14' focus='1' %}">
            <img  src="/media/media/capas/capaseries2ab.png">
        </a>
  </div>
    {% else %}
    <div class="grid-fase">
        <img src="/media/media/capas/capaseries2fe.png">
    </div>
    {% endif %}
    {% if pontuacao >= 30 %}
    <div class="grid-fase">
        <a  href="{% url 'animefase' num='15' focus='1' %}">
            <img src="/media/media/capas/capaseries3ab.png">
        </a>
  </div>
    {% else %}
    <div class="grid-fase">
        <img src="/media/media/capas/capaseries3fe.png">
    </div>
    {% endif %}
    {% if pontuacao >= 45 %}
    <div class="grid-fase">
        <a  href="{% url 'animefase' num='16' focus='1' %}">
            <img src="/media/media/capas/capaseries4ab.png">
        </a>
  </div>
    {% else %}
    <div class="grid-fase">
        <img src="/media/media/capas/capaseries4fe.png">
    </div>
    {% endif %}
</div>

{% endblock%}