{% extends 'base.html' %}
{% load static %}

{% block 'conteudo' %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<div class="grid2">
  <div class="grid-fase">
    <a href="{% url 'animefase' num='1' focus='1' %}">
        <img src="/media/media/capas/1.png">
    </a>
    <span class="placar"> {{pontuacao}} /25 </span>
  </div>
    {% if pontuacao >= 15 %}
    <div class="grid-fase">
        <a  href="{% url 'animefase' num='2' focus='1' %}">
            <img src="/media/media/capas/2aberto.png">
        </a>
        <span class="placar"> {{pontuacao}} /25 </span>
  </div>
    {% else %}
    <div class="grid-fase">
        <img src="/media/media/capas/2fechado.png">
        <span class="placar"> {{pontuacao}} /25 </span>
    </div>
    {% endif %}
    {% if pontuacao >= 30 %}
    <div class="grid-fase">
        <a  href="{% url 'animefase' num='3' focus='1' %}">
            <img src="/media/media/capas/3aberto.png">
        </a>
        <span class="placar"> {{pontuacao}} /25 </span>
  </div>
    {% else %}
    <div class="grid-fase">
        <img src="/media/media/capas/3fechado.png">
        <span class="placar"> {{pontuacao}} /25 </span>
    </div>
    {% endif %}
    {% if pontuacao >= 45 %}
    <div class="grid-fase">
        <a  href="{% url 'animefase' num='4' focus='1' %}">
            <img src="/media/media/capas/4aberto.png">
        </a>
        <span class="placar"> {{pontuacao}} /25 </span>
  </div>
    {% else %}
    <div class="grid-fase">
        <img src="/media/media/capas/4fechado.png">
        <span class="placar"> {{pontuacao}} /25 </span>
    </div>
    {% endif %}
</div>

{% endblock%}