{% extends 'base.html' %}
{% load static %}

{% block 'conteudo' %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<div class="separarfases">
  <div class="grid-fase">
    <a href="{% url 'animefase' num='5' focus='1' %}">
        <img  src="/media/media/capas/filmefase1.png">
    </a>
  </div>
    {% if pontuacao >= 15 %}
    <div class="grid-fase">
        <a  href="{% url 'animefase' num='6' focus='1' %}">
            <img  src="/media/media/capas/filmefase2ab.png">
        </a>
  </div>
    {% else %}
    <div class="grid-fase">
        <img src="/media/media/capas/filmefase2fe.png">
    </div>
    {% endif %}
    {% if pontuacao >= 30 %}
    <div class="grid-fase">
        <a  href="{% url 'animefase' num='7' focus='1' %}">
            <img src="/media/media/capas/filmefase3ab.png">
        </a>
  </div>
    {% else %}
    <div class="grid-fase">
        <img src="/media/media/capas/filmefase3fe.png">
    </div>
    {% endif %}
    {% if pontuacao >= 45 %}
    <div class="grid-fase">
        <a  href="{% url 'animefase' num='8' focus='1' %}">
            <img src="/media/media/capas/filmefase4ab.png">
        </a>
  </div>
    {% else %}
    <div class="grid-fase">
        <img src="/media/media/capas/filmefase4fe.png">
    </div>
    {% endif %}
</div>

{% endblock%}